body {
	background-color: #d2e8da;
}

* {
	font-family: 'Libre Baskerville', serif;
}

label {
	font-weight: bold;
}

div.container {
	background-color: white;
}

div.kristine {
	flex: 1;
	background: url(../assets/kristine.jpg) center no-repeat;
	background-size: cover;
	height: 300px;
}

@media (min-width: 576px) {
	div.container {
		width: 70%;
	}
	
	div.kristine {
	    height: 400px;
	}
}

img.icon {
	width: 300px;
	margin: 2rem auto;
	display: block;
}

div.social-links {
    font-size: 0.8rem;
    margin: 2rem auto;
	text-align: center;
}

div.social-links > a {
    color: #343a40;
    text-decoration: none;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

div.social-links > a:hover {
    color: #6c757d;
}

.btn-primary {
	background-color: #343a40;
	border-color: #343a40;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #6c757d;
	border-color: #6c757d;
}

img.vine {
	height: 5rem; 
	margin: 1.5rem auto;
	display: block;
}

img.leaves {
	height: 2.5rem;
	margin-top: -0.9rem;
}
	
